*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 40px;
  padding-bottom: 24px;
  font-family: 'Anton', sans-serif;
  font-size: 4.5rem;
}

h2 {
  font-weight: 800;
}

hr {
  background-color: white;
  height: 3px !important;
  width: 20%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  opacity: 0.25;
  color: inherit;
}

.home-hr {
  background-color: white;
  height: 3px !important;
  width: 52%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  opacity: 0.25;
  color: inherit;
}

.home-quote {
  margin-top: 35px;
  font-weight: 500;
}

.home-hero {
  text-align: center;
  color: white;
  background-color: black;
  padding: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: 408458;
}

.experience-levels {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: black;
  padding-bottom: 10rem;
}

.btn-form {
  margin-left: 64px;
  margin-top: 10px;
}

.btn-secondary {
  background-color: rgb(138, 137, 137);
  border-color: rgb(138, 137, 137);
  font-weight: 700;
  border-radius: 20px;
}

.workout-mainPage {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
  height: 60vh;
  padding: 3rem;
}

.workout-group {
  display: flex;
  align-items: center;
  padding: 2px;
  margin-bottom: 1em;
}

.workout-group-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.exercise-list {
  list-style-type: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-left: 15px;
}

.CircularProgressbar {
  width: 50%;
  vertical-align: middle;
  height: 20rem;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #408458;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #408458;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

form {
  padding: 50px;
  margin-right: 20px;
}

.form-label {
  margin-bottom: .5rem;
  color: white;
  font-weight: 700;
}

div.card-title.h5 {
  text-align: center;
  font-weight: 700;
  font-size: xxx-large;
  font-family: 'Anton', sans-serif;

}

.card {
  width: 25rem !important;
  height: 520px;
  text-align: center;
}

p.card-text {
  text-align: center;
  font-weight: 600;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-top: 10px;
}

.strong-icon {
  padding-left: 5px;
  padding-right: 3px;
  padding-bottom: 26px;
  width: 100px;
  height: 95px;
}

.silva-strong-title {
  font-size: 5rem;
  /* -webkit-text-stroke-color: #212529;
  -webkit-text-stroke-width: 5px; */
}

.navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 0 !important;
  margin-left: -150px;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  -webkit-text-stroke-color: #212529;
  -webkit-text-stroke-width: 1px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.home-icon {
  height: 32px;
  margin-top: 2px;
}