*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  color: white;
  padding: 40px
}

.home-hero {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 10rem;
}

.experience-levels {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: black;
  padding-bottom: 10rem;
}

.btn-secondary {
  background-color: rgb(138, 137, 137);
  border-color: rgb(138, 137, 137);
  /* margin-left: 90px; */
  font-weight: 700;
}

.workout-mainPage {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
  height: 60vh;
  padding: 3rem;
}

.workout-group {
  display: flex;
}

.exercise-list {
  list-style-type: none;
  color: white;
  font-weight: 600;
  overflow: hidden;
  max-height: 1.5em;
  text-overflow: ellipsis;
}

.CircularProgressbar {
  width: 50%;
  vertical-align: middle;
  height: 20rem;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #408458;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #408458;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
div.card-title.h5 {
  text-align: center;
  font-weight: 700;
}

p.card-text {
  text-align: center;
}

form {
  padding: 50px
}

.form-label {
  margin-bottom: .5rem;
  color: white;
  font-weight: 700;
}