*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import 'bootstrap/dist/css/bootstrap.min.css';

.home-hero {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.experience-levels {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.btn-primary {
  background-color: black;
  border-color: black;
}